<div class="col-10 offset-1 about">
<h1>About splurty</h1>
</div>

<p>
    Splurty was built by <a href="http://github.com/MarcoMorawec">Marco</a> & <a href="http://github.com/KenMazaika">Ken</a>
</p>
<br />
<p>
    Together they taught hundreds of students how to code and build products people want at places like Harvard Business School, Carnegie Mellon, Babsor.
</p>
<p>
    If you want to learn how to code - start <a href="https://online.bootcampspot.com">here</a>.
</p>

<div class="row">
    <div class="col-12 col-sm-4">
        <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Marco Morawec</h2>
        <br />
        <p>
            Marco Morawec is a web developer and a user experience product manager. He consulted fortune 500 companies like P&G and John Deere.
        </p>
    </div>
</div>
<hr />

<br class="clear" />


<div class="row">
    <div class="col-12 col-sm-4">
        <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    
    <div class="col-12 col-sm-7 offset-sm-1">
        <h2 class="text-center">Ken Mazaika</h2>
        <br />
        <p>
            Marco Morawec is a web developer and a Ruby on Rails contributor. Previoiusly, he was a tech lead at Where.com.
        </p>
    </div>
</div>
<br class="clear" />
<br />
<br />
<br />


